<% include ../partials/header %>

  <div>
    <% Movie.backdrop_path = 'https://image.tmdb.org/t/p/original' +Movie.backdrop_path %>
      <img id="postertest" class="poster" src="<%= Movie.backdrop_path %>">
  </div>
  <div class="col-xs-12 cardcont nopadding">
    <div class="meta-data-container col-xs-12 col-md-8 push-md-4 col-lg-7 push-lg-5">
      <h1><%= Movie.original_title %></h1>
      <span class="tagline">
        <%= Movie.runtime %> min | <%= Movie.genres[0].name %> ,
          <% if(Movie.genres[1]){ %>
              <%= Movie.genres[1].name %> |
                <% } else{ %>
                  <p>NA</p>
                  <% } %>
                    <%= Movie.release_date %>
                      (
                      <%= Movie.spoken_languages[0].name %>
                      )
      </span>
      <p>
        <%= Movie.overview %>
      </p>
      <div class="additional-details">
        <span class="genre-list"></span>
        <span class="production-list"></span>
        <div class="nopadding release-details">
          <div class="col-xs-6">
            Original Release:
            <span class="meta-data">2014-11-05</span>
          </div>
          <div class="col-xs-6">
            Running Time:
            <span class="meta-data">
  						169 mins
  				</span>
          </div>
          <div class="col-xs-6">
            Box Office:
            <span class="meta-data">$675,120,017</span>
          </div>
          <div class="col-xs-6">
            Vote Average:
            <span class="meta-data">8.1 / 10</span>
          </div>
        </div>
      </div>
    </div>
    <div class="poster-container nopadding col-xs-12 col-md-4 pull-md-8 col-lg-5 pull-lg-7 ">
      <% Movie.poster_path = 'https://image.tmdb.org/t/p/w500' +Movie.poster_path %>
        <img class="poster" src="<%= Movie.poster_path %>">
    </div>
  </div>
  <footer>
    <span><a href="http://www.stephenkempin.co.uk/" rel="author">Designed &amp; developed by Vaibhav</a> </span>
    <span><a href="https://github.com/SKempin/reactjs-tmdb-app" title="View Github Repo"><i class="icon ion-social-github"></i>View Code</a></span>
  </footer>

  <!-- <div class="container" id="content"> -->
  <!-- <div class="movie-video"> -->
  <!-- movie video will render here -->
  <!-- <div><iframe class="youtube" src="https://www.youtube.com/embed/<%= Video.results[0].key %>" allowfullscreen=""></iframe></div> -->
  <!-- </div> -->

  <!-- <div id="movie-main-summary">
      <div id="summary-top">
        <div class="col-lg-8 col-md-8 col-sm-5 col-xs-1 color ">
          <span id="movie-summary-title"><%= Movie.original_title %></span>
          <div class="caption_info">
            <%= Movie.runtime %> |
              <%= Movie.genres[0].name %> ,
                <% if(Movie.genres[1]){ %>
                  <%= Movie.genres[1].name %> |
                    <% } else{ %>
                      <h1>NA</h1>
                      <% } %>
                        <%= Movie.release_date %>
                          (
                          <%= Movie.spoken_languages[0].name %>)
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1 color">
          <div class="rating">
            <span>
            <i class="fa fa-star"></i>
            <div class="star">
              <span><strong id="vote_avg"><%= Movie.vote_average %></strong> / 10</span>
          </div>
          <div class="vote">
            <%= Movie.vote_count %>
          </div>
          </span>
        </div>
      </div>
    </div>
    <hr>
    <div id="summary-bottom">
      <div class="col-lg-5">
        <% Movie.poster_path = 'https://image.tmdb.org/t/p/w185_and_h278_bestv2' +Movie.poster_path %>
          <img class="img-responsive" src="<%= Movie.poster_path %>" id="movie-summary-img"><br>
      </div>
      <div class="col-lg-7">
        <p>
          <%= Movie.overview %>
        </p>
        <br>
        <div class="col-lg-12">
          <% var obj = Credit.crew.find(o => o.job === 'Director') %>
            <div class="credit-item">
              <h4 class="inline">Director:</h4>
              <span><%= obj.name %></span>
            </div>
        </div>
        <div class="col-lg-12">
          <% var obj1 = Credit.crew.find(o => o.job === 'Screenplay') %>
            <div class="credit-item">
              <h4 class="inline">Writers:</h4>
              <span>
                <% if(obj1) { %>
                <%= obj1.name %>
                <% } else { %>
                <h1>NA</h1>
                <% } %>
              </span>
            </div>
        </div>
        <div class="col-lg-12">
          <div class="credit-item">
            <h4 class="inline">Stars:</h4>
            <span><%= Credit.cast[0].name %> , <%= Credit.cast[1].name %> , <%= Credit.cast[2].name %> , <%= Credit.cast[3].name %></span>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- </div> -->

  <!-- <div class="container" id="recommendations">
    <h2 class="rec_heading">People who liked this also liked... </h2>
    <div class="col-lg-2">
      <% Recommend.results[0].poster_path = 'https://image.tmdb.org/t/p/w500' +Recommend.results[0].poster_path %>
        <img class="img-responsive" src="<%= Recommend.results[0].poster_path %>" id="movie-summary-img"><br>
        <div class="caption">
          <%= Recommend.results[0].title %>
        </div>
    </div>

    <div class="col-lg-2">
      <% if(Recommend.results[1]){ %>
        <% Recommend.results[1].poster_path = 'https://image.tmdb.org/t/p/w500' +Recommend.results[1].poster_path %>
          <img class="img-responsive" src="<%= Recommend.results[1].poster_path %>" id="movie-summary-img"><br>
          <div class="caption">
            <%= Recommend.results[1].title %>
          </div>
          <% } else{ %>
            <h1>NA</h1>
            <% } %>
    </div>
    <div class="col-lg-2">
      <% if(Recommend.results[2]){ %>
        <% Recommend.results[2].poster_path = 'https://image.tmdb.org/t/p/w500' +Recommend.results[2].poster_path %>
          <img class="img-responsive" src="<%= Recommend.results[2].poster_path %>" id="movie-summary-img"><br>
          <div class="caption">
            <%= Recommend.results[2].title %>
          </div>
          <% } else{ %>
            <h1>NA</h1>
            <% } %>
    </div>

    <div class="col-lg-2">
      <% if(Recommend.results[3]){ %>
        <% Recommend.results[3].poster_path = 'https://image.tmdb.org/t/p/w500' +Recommend.results[3].poster_path %>
          <img class="img-responsive" src="<%= Recommend.results[3].poster_path %>" id="movie-summary-img"><br>
          <div class="caption">
            <%= Recommend.results[3].title %>
          </div>
          <% } else{ %>
            <h1>NA</h1>
            <% } %>
    </div>

    <div class="col-lg-2">
      <% if(Recommend.results[4]){ %>
        <% Recommend.results[4].poster_path = 'https://image.tmdb.org/t/p/w500' +Recommend.results[4].poster_path %>
          <img class="img-responsive" src="<%= Recommend.results[4].poster_path %>" id="movie-summary-img"><br>
          <div class="caption">
            <%= Recommend.results[4].title %>
          </div>
          <% } else{ %>
            <h1>NA</h1>
            <% } %>
    </div>

    <div class="col-lg-2">
      <% if(Recommend.results[5]){ %>
        <% Recommend.results[5].poster_path = 'https://image.tmdb.org/t/p/w500' +Recommend.results[5].poster_path %>
          <img class="img-responsive" src="<%= Recommend.results[5].poster_path %>" id="movie-summary-img"><br>
          <div class="caption">
            <%= Recommend.results[5].title %>
          </div>
    </div>
    <% } else{ %>
      <h1>NA</h1>
      <% } %>
  </div>


  <div class="container" id="slick-slider">
    <div class="slider">
      <% currPlaying.results[0].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[0].poster_path %>
        <div><img src="<%= currPlaying.results[0].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
        <% currPlaying.results[1].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[1].poster_path %>
          <div><img src="<%= currPlaying.results[1].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
          <% currPlaying.results[2].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[2].poster_path %>
            <div><img src="<%= currPlaying.results[2].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
            <% currPlaying.results[3].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[3].poster_path %>
              <div><img src="<%= currPlaying.results[3].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
              <% currPlaying.results[4].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[4].poster_path %>
                <div><img src="<%= currPlaying.results[4].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
                <% currPlaying.results[5].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[5].poster_path %>
                  <div><img src="<%= currPlaying.results[5].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
                  <% currPlaying.results[6].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[6].poster_path %>
                    <div><img src="<%= currPlaying.results[6].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
                    <% currPlaying.results[7].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[7].poster_path %>
                      <div><img src="<%= currPlaying.results[7].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
                      <% currPlaying.results[8].poster_path = 'https://image.tmdb.org/t/p/w500' +currPlaying.results[8].poster_path %>
                        <div><img src="<%= currPlaying.results[8].poster_path %>" alt="" class="img-responsive" id="movie-summary-img"></div>
    </div> -->
  <!-- </div> -->

  <% include ../partials/footer %>